.root {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px solid green;
}

.myFighters {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid green;
}

.FighterCard {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px solid green;
}
